node_modules/
.next/
out/
dist/
build/
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.env
.env.local
*.log
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
apps/mobile/build/
apps/mobile/.metadata
apps/mobile/android/local.properties
apps/mobile/ios/Flutter/
